Source: ragnarok-base
Section: base
Priority: standard
Maintainer: Ian LeCorbeau <I-LeCorbeau@protonmail.com>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 4.6.1
Homepage: https://github.com/RagnarokOS/src
Rules-Requires-Root: no

Package: ragnarok-base
Architecture: amd64
Depends: oksh,
 ed,
 mandoc,
 doas,
 signify-openbsd,
 bsd-mailx,
 dma | opensmtpd,
 sysvinit-core,
 sysv-rc,
 orphan-sysvinit-scripts,
 systemctl,
 elogind,
 libpam-elogind,
 procps,
 nftables,
 rsyslog,
 logrotate,
 tmux,
 vim,
 ifupdown,
 libbsd-dev,
 libncurses-dev,
 libopenbsd,
 adduser,
 openrcs,
 wget,
 ca-certificates,
 lsb-release,
Description: files for Ragnarok
 Package providing extra files for Ragnarok, as well as
 a postinst script that sets up the base system. This also
 serves as a metapackage, fetching other packages required
 by the base system.
