#!/usr/sbin/nft -f

# After installing nftables, and whenever this file is updated, don't
# forget to run 'nft -f /etc/nftables.rules && rc-service nftables save'.

flush ruleset

table inet filter {
	chain input {
		type filter hook input priority 0; policy drop;

		# drop invalid packets early.
		ct state invalid log prefix "[nftables] invalid: " drop

		# accept traffic originated from us
		ct state established,related accept

		# accept any localhost traffic
		iif lo accept

		# don't accept loopback that aren't actually from loopback
		iif != lo ip daddr 127.0.0.1/8 log prefix "[nftables] false loopback: " drop

		# uncomment to allow ssh connections through port 22. Change port number if desired.
		#tcp dport 22 ct state new log prefix "[nftables] SSH accepted: " accept

		# accept neighbour discovery otherwise IPv6 connectivity breaks.
		# NOTE: security-wise, disabling this is better. If neighbour discovery is not needed, comment it out.
		#ip6 nexthdr icmpv6 icmpv6 type { nd-neighbor-solicit, nd-router-advert, nd-neighbor-advert } log prefix "[nftables] ICMP accepted: " accept

		# count, drop and log any other traffic.
		log prefix "[nftables] dropped input: " counter drop
	}

	chain forward {
		type filter hook forward priority 0; log prefix "[nftables] dropped forward: "; policy drop;
	}
}
