Source: oksh
Section: shells
Priority: optional
Maintainer: Ian LeCorbeau <I-LeCorbeau@protonmail.com>
Build-Depends: 	debhelper-compat (= 13),
		libncurses-dev
Standards-Version: 4.5.1
Rules-Requires-Root: no

Package: oksh
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: OpenBSD ksh.
 Portable version of OpenBSD's korn shell implementation.
 Used the default login/interactive shell in Ragnarok.
